@model RollerShop.Models.AllObjects
@{
    ViewBag.Title = "DetailProduct";
}

<h2>DetailProduct</h2>
<div>
    Numer: @Model.Product.IdProduct</br>
    Nazwa: @Model.Product.Name</br>
    Producent: @Model.Maker.Name</br>
    Kategoria: @Model.Category.Name
</div>
